# Archivos compilados por Maven
target/

# Configuración privada de NetBeans
nbproject/private/

# Archivos temporales
*.class
*.log
*.tmp

# Configuración de otros editores
.idea/
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db
